<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @order_reward } %>

<div class="row" id="general_fields" >
  <div class="col-md-3">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.error_message_on :name %>
    <% end %>

    <div id="starts_at_field" class="form-group">
      <%= f.label :starts_at %>
      <%= f.text_field :starts_at, value: datepicker_field_value(@order_reward.starts_at), class: 'datepicker datepicker-from form-control' %>
    </div>

    <div id="expires_at_field" class="form-group">
      <%= f.label :expires_at %>
      <%= f.text_field :expires_at, value: datepicker_field_value(@order_reward.expires_at), class: 'datepicker datepicker-to form-control' %>
    </div>
  </div>

  <div class="col-md-6">
    <%= f.field_container :description, class: ['form-group'] do %>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 8, class: 'form-control' %>
    <% end %>
  </div>

  <div id="expiry_fields" class="col-md-3">
    <div id="reward_valid_from_field" class="form-group">
      <%= f.label :reward_valid_from %>
      <%= f.text_field :reward_valid_from, value: datepicker_field_value(@order_reward.reward_valid_from), class: 'datepicker datepicker-from form-control' %>
    </div>

    <div id="reward_valid_to_field" class="form-group">
      <%= f.label :reward_valid_to %>
      <%= f.text_field :reward_valid_to, value: datepicker_field_value(@order_reward.reward_valid_to), class: 'datepicker datepicker-to form-control' %>
    </div>
  </div>
</div>
