<div class="order_reward_rule order_reward-block panel panel-default" id="<%= dom_id order_reward_rule %>">
  <% type_name = order_reward_rule.class.name.demodulize.underscore %>
  <div class="panel-heading">
    <%= link_to_with_icon 'delete', '', spree.admin_order_reward_order_reward_rule_path(@order_reward, order_reward_rule), remote: true, method: :delete, class: 'delete pull-right' %>
    <h3 class='panel-title order_reward-title <%= 'no-text' if type_name == 'user_logged_in' || type_name == 'first_order'%>'><%= Spree.t("order_reward_rule_types.#{type_name}.description") %></h3>
  </div>
  <% param_prefix = "order_reward[order_reward_rules_attributes][#{order_reward_rule.id}]" %>
  <%= hidden_field_tag "#{param_prefix}[id]", order_reward_rule.id %>

  <%= render partial: "spree/admin/order_rewards/rules/#{type_name}", locals: { order_reward_rule: order_reward_rule, param_prefix: param_prefix } rescue nil %>
</div>
